html, body {
  font-family: sans-serif; margin: 0; padding: 0; height: 100%;
  font-size: min(1.5vw, 1.5vh);
}
div, span {
  margin: 0; padding: 0;
}

#game {
  height:  100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

#game #action_instruction {
  border-bottom: .1em solid;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  min-height: 2em;
  align-items: center;
  justify-content: center;
}


#game #round {
  font-size: 2em;
  text-align: right;
  white-space: pre-wrap;
  position: absolute;
  right: .5em;
  top: .5em;
}

#reset-button {
  position: absolute;
  top: .5em;
  left: .5em;
  z-index: 1;
}


#controls {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.return-button {
  border: 1px solid;
  border-radius: .5em;
  font-weight: bold;
  padding: .5em;
}
.return-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px solid #ccc;
}







#pick_topic {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  width: 100%;
}

.topic_opt.burned {
  opacity: .1;
}
.topic_opt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  font-size: 2em;
  border: 1px solid;
  border-radius: 1em;
  width: 30%;
}
.topic_opt.has-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: end;
}
.topic_opt:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px black;
}
.topic_opt.burned:hover {
  cursor: default;
  box-shadow: 0 0 0 0 black;
}






#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 50%;
  padding: 1em;
  border: 1px solid;
  background: #ddf;
  width: 90%;
  gap: 1em;
}
.board_opt.dropped {
  opacity: .1;
}

.board_opt {
  background: #eee;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: 1px solid;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 0px 1em white, 0px 0px 1em white, 0px 0px 1em white, 0px 0px 1em white;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.board_opt.has-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: end;
  
}












#pick_question {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.question_opt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  font-size: 2em;
  border: 1px solid;
  border-radius: 1em;
  width: 8em;
}


.question_opt:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px black;
}

.question_opt.burned {
  opacity: .1;
}

.question_opt.burned:hover {
  cursor: default;
  box-shadow: 0 0 0 0;
}









#keep-choice {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#keep-question {
  text-align: center;
  font-size: 3em;
}
#burn-button {
  flex-basis: 100%;
  display: flex;
  font-size: .75em;
  justify-content: center;
  align-items: center;
  color: red;
}
#burn-button .KoD-button {
  height: 2em;
}
.KoD-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  font-size: 2em;
  border: 1px solid;
  border-radius: 1em;
  width: 8em;
}

.KoD-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px black;
}



#game_over {
  text-align: center;
}
#game-over-message {
  font-size: 4em;
}
#game-over-round b {
  font-size: 1.4em;
  font-family: monospace;
  color: green;
}
#reset-link {
  border: .1em solid red;
  background: #fcc;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1em;
}
#reset-link:hover {
  background: #f88;
  cursor:  pointer;
}