body {
  font-family: sans-serif; margin: 0; padding: 0;
}
div, span {
  margin: 0; padding: 0;
}

#game {
  height:  100%;
  min-height: 100vh;
  position: relative;
  margin-bottom: 2em;
}
#game > div {
  padding: 1em;
}

#pick_topic {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topic_opt.burned {
  opacity: .1;
}
.topic_opt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  font-size: 2em;
  border: 1px solid;
  border-radius: 1em;
  width: 12em;
}

.topic_opt:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px black;
}
.topic_opt.burned:hover {
  cursor: default;
  box-shadow: 0 0 0 0 black;
}


#board {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  padding: 2em;
  border: 1px solid;
  background: #ddf;
}

.board_opt.dropped {
  opacity: .1;
}
.board_opt {
  background: #eee;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  font-size: 2em;
  border: 1px solid;
  min-width: 8em;
}



#pick_question {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.question_opt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  font-size: 2em;
  border: 1px solid;
  border-radius: 1em;
  width: 8em;
}


.question_opt:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px black;
}

.question_opt.burned {
  opacity: .1;
}

.question_opt.burned:hover {
  cursor: default;
  box-shadow: 0 0 0 0;
}


#keep-choice {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#keep-question {
  text-align: center;
  padding: 1em;
  font-size: 3em;
}

.KoD-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  font-size: 2em;
  border: 1px solid;
  border-radius: 1em;
  width: 8em;
}

.KoD-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px black;
}


#controls {
  display:  flex;
  flex-wrap:  wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.return-button {
  border: 1px solid;
  border-radius: .5em;
  font-weight: bold;
  padding: .5em;
}
.return-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px solid #ccc;
}
